<%- include('partials/header'); %>
<h1><%= text %></h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum placeat, nisi dolorum odit repellendus temporibus quaerat dolorem corrupti ipsum eveniet illo vero quod culpa vel ad earum iusto eligendi quam quidem sequi omnis explicabo nesciunt quos sint. Veniam cumque, delectus id quisquam vel dolore repudiandae, maxime vitae necessitatibus maiores molestias iure. Nam excepturi eius veritatis iure accusamus aperiam cupiditate repudiandae, impedit explicabo officia dolorum asperiores tempora maxime est laudantium sapiente modi. Nulla tenetur odio molestias aliquid nesciunt cumque aperiam, labore fuga vel? Est velit nisi voluptas quae inventore, laudantium earum.</p>
<%- include('partials/footer'); %>